.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aliceblue;
	padding: 1rem;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	height: var(--header-height);
}

.actions {
	display: flex;
	gap: 1rem;
}
