.container {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.container > div {
	padding: 1rem;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-height: calc(100vh - 2rem - var(--header-height));
}

@media (min-width: 1200px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
