.previewPane {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.livePreview {
	position: relative;
}

.livePreview canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 1rem;
}
.preview {
	border: 2px dashed #555;
	border-radius: 1rem;
}
.dark .preview {
	background-color: black;
}

.light .preview {
	background-color: white;
}
